<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Hotel Registration</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

  <div class="wrapper">
    <div class="fourth-screen">
      <h1 class="title-log-reg">Регистрация</h1>
      <div class="register-container">
        <form class="form-connect" id="registrationForm" method="POST" action="{{ url_for('register') }}">
          <div class="form-group">
            <input type="text" name="username" id="name" placeholder="Имя" required>
          </div>
          <div class="form-group">
            <input type="email" name="email" id="email" placeholder="Почта" required>
          </div>
          <div class="form-group">
            <input type="text" name="phone" id="phone" placeholder="Телефон" required>
          </div>
          <div class="form-group">
            <input type="password" name="password" id="password" placeholder="Пароль" required>
          </div>
          <div class="form-group">
            <input type="password" name="confirm_password" id="confirm-password" placeholder="Подтвердите пароль" required>
          </div>
          <button type="submit" class="button">Зарегистрироваться</button>
        </form>
      </div>
    </div>
    <div class="already-have-account">
      <p>Уже есть аккаунт? <a href="{{ url_for('login') }}" class="login-link">Войти</a></p>
    </div>
    {% if error %}
    <p class="error">{{ error }}</p>
    {% endif %}
  </div>

  <script>
    document.getElementById('registrationForm').addEventListener('submit', function (e) {
      const password = document.getElementById('password').value;
      const confirmPassword = document.getElementById('confirm-password').value;

      if (password !== confirmPassword) {
        e.preventDefault(); // Останавливаем отправку формы
        alert('Пароли не совпадают!');
      }
    });
  </script>

</body>

</html>
